
body {
    background-image: url('img/back.jpg'); 
    
    /* Esto hace que la imagen cubra toda la pantalla sin deformarse */
    background-size: cover;
    
    /* Esto evita que la imagen se mueva al hacer scroll */
    background-attachment: fixed;
    
    /* Centra la imagen */
    background-position: center;
    
    /* Evita que la imagen se repita si es chica */
    background-repeat: no-repeat;
    
    /* Un color de respaldo por si la imagen tarda en cargar */
    background-color: #f8f9fa; 
    
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

.profile-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.btn-custom {
    border-radius: 12px;  Botones más redondeados y modernos */
    transition: all 0.3s ease;
}

.btn-custom:hover {
    transform: scale(1.02); /* Crece un poquito al tocarlo */
}

.btn-whatsapp {
    background-color: #25D366;
    color: white;
}

